<%= form_for :user, url: users_signup_path do |f| %>
  <% if $response_body %>
    <div id="error_explanation">
      <h2><%= pluralize($response_body.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% $response_body.each do |key,value | %>
        <li><%= "#{key}: #{value[0]}" %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% $response_body = nil %>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.check_box :gender %>
  </div>
  <div class="field">
    <%= f.label :security_question %><br>
    <%= f.select(:security_question, [["What is your father's middle name ?", 'What is your fathers middle name ?'], ["What is the model of your first car?",'What is the model of your first car?'], ["What is the name of your first pet?",'What is the name of your first pet?'], ["What is the name of your high school?",'What is the name of your high school?'] ] ) %>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_area :answer %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.number_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
