<%= form_for :user, url: users_signup_path do |f| %>
  <% if $user_create_response_body %>
    <% if $user_create_response_body['created'] %>
    <% else %>
      <div id="error_explanation">
        <h2><%= pluralize($user_create_response_body.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% $user_create_response_body.each do |key,value | %>
          <li><%= "#{key}: #{value[0]}" %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <% $user_create_response_body = nil %>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :security_question %><br>
    <%= f.select(:security_question, [["What is your father's middle name ?", 'What is your fathers middle name ?'], ["What is the model of your first car?",'What is the model of your first car?'], ["What is the name of your first pet?",'What is the name of your first pet?'], ["What is the name of your high school?",'What is the name of your high school?'] ] ) %>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_area :answer %>
  </div>
  <div class="field">
    <%= radio_button_tag(:gender, "male" , checked = true) %>
    <%= label_tag(:gender_type, "Male") %>
    <%= radio_button_tag(:gender, "female") %>
    <%= label_tag(:gender_type, "Female") %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
