<!DOCTYPE html>
<html>
<head>
  <title>MainDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/stream/show">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <% if current_user_email %>
      <p class="navbar-text">Signed in as  <%= current_user_email  %></p>
      <li> <%= link_to "logout", users_logout_path %> </li>
    <%else%>
     	 <li> <%= link_to "sign up", users_new_path %> </li>
       <li> <%= link_to "log in", users_login_path %> </li>
    <%end%>
    </ul>
  </div>
</nav>
Try it Yourself »

<%= yield %>

</body>
</html>
